.cartcard{
    display:flex;
    
  
}
.card-buttons{
    display:flex;
    margin-top:20px;
    justify-content:space-between;
    width:100%;
}
.cart-card-details-title{
    margin:3px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: #182062;
} 
.cart-cardimage img{
    width: 240px;
height: 210px;
}
.cart-card-details-description{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 12px;
    margin:3px;
    line-height: 20px;
}
.cart-card-details-price{
    color: #F48C06;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 24px;
}
.cart-card-details-title-div{
    margin-bottom:10px;
    height:23%;
    width:100%;
    
}
.cart-buy-now{
    color:white;
    background: #293593;
    border-width:0px;
    width: 200px;
    height: 39px;
    font-size: 16px;
    border-radius: 7px;
}
.cart-remove{
    background-color:white;
    color:#182062;
    border-width:2px;
    width: 50%;
    height: 39px;
    font-size: 16px;
    border-radius: 7px;
    
}

.cart-card-details{
    margin-left:20px;
    width:100%;
}

