.forgot{
    font-family: 'Roboto',sans-serif;
    margin:auto;
    width:30%;
    height:40%;
    margin-top:70px;
    margin-bottom:60px;
}
.femail{
    position:relative;
}
.femail input{
    width:275px;
    height:50px;
    padding-left:50px;
    
}
.fenvelope{
    position:absolute;
    bottom:18px;
    left:12px;
}
.femail p{
    font-size: 18px;
    margin-bottom:10px;
}
.otp input{
    margin-right:9px;
    margin-bottom: 18px;
    margin-top:15px;
    width:70px;
    height:70px;
    font-size:25px;
}
#resetpass{
    width:325px;
    height:50px;
    background-color: #293593;
    color:white;
    font-size:20px;
    border-radius: 3%;
    border:0px;
}
#resetpass:hover{
    width:325px;
    height:50px;
    background-color: #586AF5;
    color:white;
    font-size:20px;
    border-radius: 3%;
    border:0px;
}
#btl{
    width:325px;
    height:50px;
    background-color: white;
    color:#293593;
    font-size:20px;
    border-radius: 3%;
    border-width:2px;
    border-color:#293593;
    margin-top:15px;
}
#btl:hover{
    width:325px;
    height:50px;
    background-color: rgb(208, 214, 251);
    color:#293593;
    font-size:20px;
    border-radius: 3%;
    border-width:2px;
    border-color:#293593;
}