.otp{
    font-family: 'Roboto',sans-serif;
    margin:auto;
    width:30%;
    height:40%;
    margin-top:70px;
    margin-bottom:60px;
}
#otp-inputField input{
    /* padding-left:40px;
    padding-right:0; */
    text-indent:39px;
    width:320px;
    letter-spacing: 50px;
    font-size: 35px;
    padding-right:0;
    
}
#continue{
    width:325px;
    height:50px;
    background-color: #293593;
    color:white;
    font-size:20px;
    border-radius: 3%;
    border:0px;
}
#continue:hover{
    width:325px;
    height:50px;
    background-color: #586AF5;
    color:white;
    font-size:20px;
    border-radius: 3%;
    border:0px;
}
#continue1{
    width:325px;
    height:50px;
    background-color: white;
    color:#293593;
    font-size:20px;
    border-radius: 3%;
    border-width:2px;
    border-color:#293593;
}
#continue1:hover{
    width:325px;
    height:50px;
    background-color: rgb(208, 214, 251);
    color:#293593;
    font-size:20px;
    border-radius: 3%;
    border-width:2px;
    border-color:#293593;
}