.nav1{    
    display: flex;
    justify-content: space-between;
    height:55px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #f2f2f2;
}
#buttonlogin{
    border-radius:10%;
    background-color: black;
    color: white;
    border:0;
    height:28px;
    

}
.bracketposition{
    margin:8px 3px;
   
    width:30px;
    font-size: 17px;
}
#uploadcourse_buttonlogin{
    border-radius:10%;
    background-color: black;
    color: white;
    border:0;
    height:28px;
    width:90px;
    

}
.cart{
    display:flex;
}

#uploadcourse_buttonsignup{
    border-radius:10%;
    border-width: 1px;
    border-color: black;
    height:28px;
    background-color: white;
    

}


.nav_submenu_details :hover{
    cursor: pointer;
}

#buttonsignup{
    border-radius:10%;
    border-width: 1px;
    border-color: black;
    height:28px;
    

}
.countbutton{
    background-color: #293593;
    color:white;
    border-radius: 50%;
    height:20px;
    width:20px;
    padding-left:6px;
    padding-top:2px;

    border-width: 0px;
   
}
#search input{
    width:100%;
    padding-left:50px;
}
.skilledge{
    padding-top:10px;
}
#logo{
    width:18%;
    display:flex;
    margin:auto;
    justify-content: space-around; 
    font-weight:600;
    font-size: 17px;
    
}
#search{
    margin:auto;
    width:40%;
    display:flex;
    justify-content: space-around;
    position:relative;
    
}
.searchicon{
    position:absolute;
    left:10px;
    bottom:14px;
    color:grey;
}
#auth{
    display:flex;
    width:25%;
    margin:auto;
    justify-content: space-around;
}
input{
    background-color: #EEF0FD;
    border-radius: 5px;
    border-width: 0;
    height:40px;
    font-size: 16px;
    line-height: 24px;
}
.submenu{
    z-index: 1;
    background-color:#F6FAFA; 
    position:absolute;
    top:58px;
    right:40px;
    width:180px;
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.5s;
    border-radius: 8px;
}
.submenu.open-menu{
    max-height: 400px;
   
}
.submenu p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15px;
    line-height: 23px;
    text-align: center;
   
}
.image_submenu{
    margin-left:26%;
    padding:0;
}
#nav_imagelogo{
    position:relative;
}




