body {
  margin:0px;
  font-family: 'Inter';
  font-style: normal;
  box-sizing: border-box;
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content{
  height:817px;
  width:100%;

}
